  <h1><%= @product.name %></h1>
 
	<%= image_tag @product.image.url(:medium) %>
</br></br>

  <strong>Description:</strong>
  <%= @product.description %>
</br>

  <strong>Available:</strong>
  	

<% if @product.rented == true %>
    	No
<%  else  %>
    	Yes
<% end%>

  	
<p>
  <strong>Hire Fee ($):</strong>
  <%= @product.hirefee / 100.00 %>
</p>
